.wishlistIconContainer--wishlist_button :global(.vtex-button){
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}
.wishlistIconContainer--wishlist_button :global(.vtex-button):hover{
    background: transparent;
}
.wishlistIcon--wishlist_button :global(.vtex-button):hover{
    background: transparent;
}