/* Title */
.container--shelfTitle {
    color: #727273;
    justify-content: center;
    text-align: center;
}

/* CNPJ */
.container--CNPJ{
    font-size: 14px;
    padding: 0 15px;
    background: #E2E3E5;
}
.link{
    color: #000;
}