/* Info Card  */
.infoCardContainer--info-card-example{
    height: 700px;
    margin: 15px 0;
}
.infoCardHeadline--info-card-example,
.infoCardSubhead--info-card-example{
    color: #fff;
}
.infoCardCallActionText--info-card-example{
    display: none;
}
