/* Title */
.container--shelfTitle {
    color: #727273;
    justify-content: center;
    text-align: center;
}

/* CNPJ */
.container--CNPJ{
    font-size: 14px;
    padding: 0 15px;
    background: #E2E3E5;
}
.link--CNPJ{
    color: #000;
}

/* Icons Bar  */
.container--icons_bar {
    color: #ffffff;
    text-align: center;
    justify-content: center;
}
.container--icons_bar .paragraph {
    margin: 0;
}
.paragraph--deals{
    color: #eee;
    font-weight: bold;
}