/* Shelf Product */

/* Caixa Preço  */
:global(.vtex-product-price-1-x-sellingPrice--summary){ 
    position: absolute;
    right: 1.3rem;
    bottom: 90px;
    padding: 7px 20px 10px 20px;
    border-radius: 50px;
    background: #000;
    
}
.currencyCode--summary_price,
.currencyInteger--summary_price,
.currencyDecimal--summary_price,
.currencyFraction--summary_price{
    font-weight: 100;
    font-size: 22px;
    color: #fff;
}
.installments--summary{
    margin: 0 0 25px 1.3rem;
}