/* Title */
.container--shelfTitle {
    color: #727273;
    justify-content: center;
    text-align: center;
}

/* CNPJ */
.container--CNPJ{
    font-size: 15px;
    padding: 0;
    background: #f0f0f0;
}
.paragraph--CNPJ{
    margin: 10px 0;
}
.link--CNPJ{
    color: #000;
}

/* Icons Bar  */
.container--icons_bar {
    text-align: center;
    justify-content: center;
}
.wrapper--deals{
    height: 30px;
}
.paragraph--deals{
    font-size: 15px;
    margin: 0 0 30px 0;
    color: #fff;
    font-weight: 500;
}