/* Info Card  */
.infoCardContainer :global(.vtex-button){
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: transparent;
    border-radius: 0;
}
.infoCardContainer--info-card-example{
    height: 700px;
    border: 0;
}
.infoCardHeadline--info-card-example{
    font-size: 70px;
    color: #fff;
}
.infoCardSubhead--info-card-example{
    font-size: 25px;
    color: #fff;
    margin: 10px 0 0 0;
}
.infoCardCallActionText--info-card-example{
    display: none;
}

/* Newsletter */
.newsletter{
    background: #000;
    border-bottom: 1px #212529 solid;
}
.label--news{
    font-family: "rift";
    color: #009a4e;
}
.buttonContainer--news{
    background: #000;
}