/* Footer  */
.flexColChild--redes_sociais{
    max-height: 30px;
}
.flexRow--menu_row{
    padding: 35px 0 50px 0;
    background-color: #000;
}
.flexRow--credits{
    margin: 0;
    color: #212529;
    background: #fff;
}