/* Main Menu */
.styledLinkContent--main_menu{
    font-family: rift;
    color: #aaa;
    font-size: 1.3rem;
    padding: .8rem 0;
    letter-spacing: .1rem;
    font-weight: bold;
    border-bottom: 2px transparent solid;
}
.styledLinkContent--main_menu:hover{
    color: #fff;
    border-bottom: 2px #fff solid;
}
.menuItem--main_menu{
    font-family: rift;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.styledLinkContent--main_menu_highlight{
    color: #fff;
}
