/* Notification Bar */
.notificationBarInner{
  min-height: 35px;
  color: #fff;
}
.notificationBarContainer {
  background-color: #009a4e;
  font-size: 15px;
  font-weight: bold;
}

/* Menu  */
.logoImage{
  max-width: 100%;
}